html {
  width: 100%;
  height: 100%;
  background-color: #040D22;
}

body {
    /* remove margins and scroll bars */
    margin: 0;
    overflow: hidden;
    color: white;
  }

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #040D22;
    height: 100%;
  }

  .title {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .description {
    font-size: 2vw;
    color: #8193b2 !important;
  }
  
  #scene-container {
    /* tell our scene container to take up the full page */
    /* position: absolute;
    width: 100%;
    height: 100%; */
    height: 100%;
  
    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    background-color: #040D22;
  }
  